:root {
  font-family: "Source Serif 4", serif;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#content {
  position: absolute;
  right: 0;
  height: fit-content;
  width: 40%;
  background-color: grey;
}

.text-information {
  height: 100dvh;
}

#visualization {
  height: 100%;
  width: 60%;
  position: fixed;
}

#visualization svg {
  height: 100%;
  width: 100%;
}